name: Java CI
on:
  - push
  - pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Install pg_isready
        run: sudo apt-get update && sudo apt-get install -y postgresql-client
      - name: Wait for Postgres
        run: for i in {1..60}; do pg_isready -h db -p 5432 -U postgres && break || sleep 1; done
      - name: Build with Maven
        run: mvn -Dspring.profiles.active=test --batch-mode --update-snapshots verify
    services:
      db:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: blog